.footer{
    grid-area: footer;
    display: flex;
    background-color: map-get($colores,secundario);
    color: map-get($colores,fuenteC);
    font-weight: bold;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
}
span{
    font-size: 1.5rem;
}