*{
    margin: 0;
    padding: 0;
}
// map
$colores: (
primario: rgb(209, 135, 178),
secundario: rgb(0, 0, 0),
fuenteC: rgb(255, 255, 255),
);
@mixin displayflex ($direccion,$align,$content,$justify,$wrap) {
    flex-direction: $direccion;
    align-items: $align;
    align-content: $content;
    justify-content: $justify;
    flex-wrap: $wrap;
};
.btnUno {
    @extend .cardBtn;
    background-color:  rgb(97, 98, 161);
}
.btnDos {
    @extend .cardBtn;
    background-color:  rgb(129, 66, 66);
}.btnTres {
    @extend .cardBtn;
    background-color:  rgb(17, 68, 30);
}.btnCuatro {
    @extend .cardBtn;
    background-color:  rgb(61, 9, 63);
}

.contenedor{
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 70px auto 70px;
    grid-template-areas: 
"nav header header"
"nav main   main"
"nav footer footer";
}
@media (max-width:576px){
    .contenedor{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
    }
}

/*
.barra {
@include displayflex (row,center,center,nowrap)
} 
.boton {
    width: 45px;
    height: 20px;
    border-radius: 5px;

}
.botonCompra {
    @extend .boton;
    background-color:  red;
    color:black;
}

*/